In [17]:
# Q1. Modify the first item (22) of a list inside a following tuple to 222
# tuple1 = (11, [22, 33], 44, 55)
# Expected output: tuple1 = (11, [222, 33], 44, 55)


tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print("tuple1 =",tuple1)

tuple1 = (11, [222, 33], 44, 55)

In [4]:
# Q2. Count the number of occurrences of item 50 from a tuple
# tuple1 = (50, 10, 60, 70, 50)


tuple1 = (50, 10, 60, 70, 50)
c=0
for i in tuple1:
    if i==50:
        c=c+1   
print("Number of item 50 in tuple1 =",c)

Number of item 50 in tuple1 = 2

In [8]:
# Q3. Write a Python program to convert a list to a tuple


n=int(input("Enter limit : "))
print("Enter datas into list")
lst1=[]
for i in range(n):
    lst1.append(input())
print("list =",lst1)
tuple1=tuple(lst1)
print("tuple =", tuple1)

Enter limit : 5
Enter datas into list
34
mca
34
mes
45
list = ['34', 'mca', '34', 'mes', '45']
tuple = ('34', 'mca', '34', 'mes', '45')

In [10]:
# Q4. Returns a new set with all items from both sets by removing duplicates
# set1 = {10, 20, 30, 40, 50}
# set2 = {30, 40, 50, 60, 70}


set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1
set3.update(set2)
print("set3",set3)

set3 {70, 40, 10, 50, 20, 60, 30}

In [18]:
# Q5. Merge following two Python dictionaries into one
# dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
# dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
# Expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}



dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3=dict1
dict3.update(dict2)
print("dic3=",dict3)

dic3= {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [94]:
# Q6. Given a Python dictionary, Change Bradâ€™s salary to 8500

#  sampleDict = {
# 'emp1': {'name': 'Jhon', 'salary': 7500},
# 'emp2': {'name': 'Emma', 'salary': 8000},
# 'emp3': {'name': 'Brad', 'salary': 6500}}

#  Expected output: 
#  sampleDict = {
# 'emp1': {'name': 'Jhon', 'salary': 7500},
# 'emp2': {'name': 'Emma', 'salary': 8000},
# 'emp3': {'name': 'Brad', 'salary': 8500}} 



sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary']=8500
sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [16]:
# Q7. Rename key city to location in the following dictionary

# sampleDict = {
# "name": "Kelly",
# "age":25,
# "salary": 8000,
# "city": "New york"
# }

# Expected output:
# {
# "name": "Kelly",
# "age":25,
# "salary": 8000,
# "location": "New york"
# }



sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}

    
sampleDict['location']=sampleDict.pop('city')
sampleDict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}