In [ ]:
#multiplication table 
#(while loop)

print("Multiplication Table\n")
c=1
num=int(input("Enter a no. "))
while c<=10 :
  val=num*c
  print(val)
  c=c+1

Multiplication Table

Enter a no. 3
3
6
9
12
15
18
21
24
27
30

In [ ]:
#(for loop)

print("Multiplication Table\n")
num=int(input("Enter a no. "))
for i in range(1,11):
  val=num*i
  print(val)

Multiplication Table

Enter a no. 3
3
6
9
12
15
18
21
24
27
30

In [ ]:
#print numbers from list - divisible by 5
 
l=[1,5,22,15,2,9,10,33,40]
for i in l:
  if i%5==0:
     print(i)

5
15
10
40

In [ ]:
#print reverse of list by using loops
 
l=[1,5,22,15,2,9,10,33,40]
k=len(l)
for i in range(k-1,-1,-1):
  print(l[i])

40
33
10
9
2
15
22
5
1